*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/sb-engine-core/build
/sb-engine-android/build
/sample/build
ci.keystore
.omo/
*.html
*.svg
.ui-craft/
